$bgColor: #5e68d5;
$text: #fff;
$boxColor: #000;
$secondColor: #54a183;

.genre-dialog {
    max-width: 400px;
    margin: auto;
    padding: 25px;
    background-color: $secondColor;
    border-style: solid;
    border-color: $boxColor;
    border-width: 5px;
  }

  .genre-dialog-title {
    color: $text;
  }

  .genre-dialog-content {
    color: $text;
  }

  .genre-actions {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .genre-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    line-height: 14px;
    min-width: auto;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
  }


