$bgColor: #5e68d5;
$text: #fff;
$boxColor: #000;
$secondColor: #54a183;

.mat-card-title {
    display: flex;
    max-width: 210px;
    justify-content: center;
    text-align: center;
  }

.mat-card-subtitle {
  color: $secondColor;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-card-header {
    height: 80px;
    display: flex;
    align-items: center;
    color: $boxColor;
  }

  .mat-card-actions {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  img {
    width: 200px;
    object-fit: contain;
  }

  .mat-icon-button {
    position: absolute;
    right: 5px;
    top: 5px;
    color: crimson;
  }