$bgColor: #5e68d5;
$text: #fff;
$boxColor: #000;
$secondColor: #54a183;

.summary-dialog {
    background-color: $bgColor;
    margin-top: 0;
    box-shadow: none;
  }
  
  .summary-dialog-title {
    color: $text;
  }

  .summaryUnterminated string token-dialog-content {
    color: $text;
  }

  .summary-actions {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .summary-close-button {
    background-color: $boxColor;
  }
